*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:black;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    font-family:Arial, Helvetica, sans-serif;
}

.pagina{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.container{
    position:relative;
    width:min(900px,80vw);
    height:min(550px,65vh);
    border:5px solid #00aaff;
    border-radius:18px;
    padding:6px;
    box-shadow:0 0 20px #00aaff;
    overflow:hidden;
}

.pistaDiscoteca{
    position:absolute;
    inset:0;
    display:grid;
    grid-template-columns:repeat(7,1fr);
    gap:20px;
    place-items:center;
}

.luz{
    width:55px;
    height:55px;
    border-radius:50%;
    animation:pulse 2s infinite alternate;
}

.luz2{
    width:55px;
    height:55px;
    border-radius:50%;
    animation:pulse 2.50s infinite alternate;
}



.azul{
    background:#00aaff;
    box-shadow:
    0 0 15px #00aaff,
    0 0 35px #00aaff,
    0 0 60px #00aaff;
}

.ciano{
    background:#c0ffff;
    box-shadow:
    0 0 15px #c0ffff,
    0 0 35px #c0ffff,
    0 0 60px #c0ffff;
}

.amarelo{
    background:#ffee00;
    box-shadow:
    0 0 15px #ffee00,
    0 0 35px #ffee00,
    0 0 60px #ffee00;
}

.vermelho{
    background:#ff0000;
    box-shadow:
    0 0 15px red,
    0 0 35px red,
    0 0 60px red;
}

.bolaDiscoteca{
    position:absolute;
    width:310px;
    top:-20px;
    left:50%;
    transform:translateX(-50%);
    z-index:5;
}

.homemAmarelo{
    position:absolute;
    height:300px;
    left:30%;
    top:50%;
    transform:translate(-50%,-50%);
    z-index:4;
}

.homemRosa{
    position:absolute;
    height:300px;
    right:30%;
    top:48%;
    transform:translate(50%,-50%);
    z-index:4;
}

.logo-borda{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border:5px solid #00aaff;
    border-radius:18px;
    padding:6px;
    box-shadow:0 0 20px #00aaff;
    z-index:10;
}

.logo{
    background:black;
    border:5px solid red;
    border-radius:12px;
    padding:8px 18px;
    box-shadow:0 0 20px red;
}

.logo h1{
    color:white;
    text-align:center;
    line-height:1;
    letter-spacing:2px;
    font-size:32px;
    text-shadow:
    2px 2px 3px gray;
}

.logo span{
    font-size:28px;
}

.slogan{
    margin-top:15px;
    text-align:center;
    color:#8ad6ff;
    font-style:italic;
    font-family:cursive;
    font-size:20px;
}

.linhas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 18px;
}

.linha{
    height: 3px;
    border-radius: 10px;
}

.azul2{
    width: 400px;
    background: #00aaff;
    box-shadow:
        0 0 5px #00aaff,
        0 0 10px #00aaff;
}
.vermelho2{
    width: 300px;
    background: #ff0000;
    box-shadow:
        0 0 5px #ff0000,
        0 0 10px #ff0000;
}

.amarela{
    width: 180px;
    background: #ffee00;
    box-shadow:
        0 0 5px #ffee00,
        0 0 10px #ffee00;
}

.catalogo{
    margin-top:25px;
}

.catalogo-borda{
    border:5px solid #00aaff;
    padding:6px;
    box-shadow:0 0 15px #00aaff;
}

.botaoCatalogo{
    width:230px;
    height:50px;
    background:black;
    color:white;
    border:4px solid red;
    font-size:22px;
    letter-spacing:3px;
    cursor:pointer;
    transition:0.3s;
}

.botaoCatalogo:hover{
    transform:scale(1.05);
}

@keyframes pulse{
    0%{
        opacity:.4;
        transform:scale(.8);
        filter:blur(2px);
    }

    50%{
        opacity:1;
        transform:scale(1.15);
        filter:blur(0);
    }

    100%{
        opacity:.6;
        transform:scale(.9);
        filter:blur(1px);
    }
}

@media (max-width:1000px){

    .container{
        width:90vw;
        height:50vh;
    }

    .luz{
        width:35px;
        height:35px;
    }

    .bolaDiscoteca{
        width:120px;
    }

    .homemAmarelo{
        height:160px;
    }

    .homemRosa{
        height:170px;
    }

    .logo h1{
        font-size:22px;
    }

    .logo span{
        font-size:18px;
    }

    .slogan{
        font-size:15px;
    }

    .botaoCatalogo{
        width:180px;
        height:40px;
        font-size:18px;
    }
}
